<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KifayatiBazaar</title>
    <link rel="icon" type="image/x-icon" href="images\favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
    <script src="js/index.js"></script>
</head>

<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-shopping-cart"></i>KifayatiBazaar</a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="#homescreen" class="logo"><i class="fas fa-home"></i></a>
            <a href="C:\Users\ankus\OneDrive\Documents\Ecommerce Website Making\Login Page\index.html" class="logo"><i
                    class="fas fa-user"></i></a>
            <a href="#homescreen" class="logo"><i class="fas fa-bell"></i></a>
        </nav>
    </header>

    <section class="homescreen" id="homescreen">
        <div class="content">
            <h3>Welcome to KifayatiBazaar</h3>
            <p>Where college finances become easy</p>
            <a action="/login" href="login" class="btn">Login</a>
            <a action="/register" href="register" class="btn">Register</a>
        </div>
    </section>


    <section class="aim" id="aim">
        <h1 class="heading"> our <span>aim</span> </h1>
        <div class="box-container">
            <div class="box">
                <div class="content">
                    <img src="images/5.jpg" alt="">
                    <h3>24/7 services available</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa
                        tenetur voluptates aperiam tempore libero labore aut.</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="images/6.png" alt="">
                    <h3>7 days replacement</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa
                        tenetur voluptates aperiam tempore libero labore aut.Voluptas Accusamus Tempore Temporibus Rem
                        Amet Laudantium Animi Optio Voluptatum. Natus Obcaecati Unde Porro Nostrum Ipsam Itaque Impedit
                        Incidunt Rem Quisquam</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="images/7.png" alt="">
                    <h3>Fatest Delivery</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa
                        tenetur voluptates aperiam tempore libero labore aut.</p>
                </div>
            </div>
        </div>
    </section>


        <div class="footer" id="footer">
            <div class="inner-footer">
                <div class="footer-items">
                    <h1>Company Name</h1>
                    <p>KifayatiBazaar</p>
                    <br>
                    <h1>Address</h1>
                    <p>Hender, Bender, Sender</p>
                    <p>Trichy:56723</p>
                </div>

                <div class="footer-items">
                    <h3>Quick Links</h3>
                    <div class="border1"></div>
                    <ul>
                        <a href="#homescreen">
                            <li>Home</li>
                        </a>
                        <a href="#footer">
                            <li>Contact</li>
                        </a>
                        <a href="#footer">
                            <li>About</li>
                        </a>
                    </ul>
                </div>

                <div class="footer-items">
                    <h3>Catogories</h3>
                    <div class="border1"></div>
                    <ul>
                        <a href="#cycles">
                            <li>Cycles</li>
                        </a>
                        <a href="#fashion">
                            <li>Mattresses</li>
                        </a>
                    </ul>
                </div>

                
                <div class="footer-items">
                    <h3>Contact us</h3>
                    <div class="border1"></div>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Trichy</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>KifayatiBazaar@gmail.com</li>
                    </ul>

                    <div class="social-media">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                Copyright &copy; KifayatiBazaar 2023.
            </div>
        </div>
    
        <script sr="/static/js/jquery.js"></script>
        <script sr="/static/js/scripts.js"></script>

</body>
</html>